<div class="title-area">
    <div class="container-fluid">
        <h3>Members</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-sm-4">
            <div class="card mb-3">
                <div class="card-header">Member Management</div>
                <div class="card-body">
                    <div>
                        <input type="hidden" [(ngModel)]="selectedMember.id">
                        <div class="form-group">
                            <input [disabled]="isLoading" type="text" [(ngModel)]="selectedMember.name"
                                class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input [disabled]="isLoading" type="email" [(ngModel)]="selectedMember.email"
                                class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input [disabled]="isLoading" type="text" [(ngModel)]="selectedMember.company"
                                class="form-control" placeholder="Company">
                        </div>
                        <div class="form-group">
                            <select name="" id="" class="form-control" [(ngModel)]="selectedMember.role" [disabled]="isLoading">
                                <option value="">Select rol</option>
                                <option  *ngFor="let role of roles" [value]="role">{{role}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input [disabled]="isLoading" type="number" [(ngModel)]="selectedMember.salary"
                                class="form-control" placeholder="Salary">
                        </div>
                        <div class="form-group">
                            <input [disabled]="isLoading" type="checkbox" id="isActive" class="form-control1 mr-2"
                                [(ngModel)]="selectedMember.isActive" checked="selectedMember.isActive">
                            <label for="isActive">
                                Is active
                            </label>
                        </div>

                        <div class="alert small text-xs p-2" *ngIf="requestResult">
                            {{requestResult}}
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-8 d-flex">
                                <button *ngIf="selectedMember.id == '0'; else updateBlock" (click)="handleForm()"
                                    [disabled]="isLoading" class="btn btn-primary" type="button">Create member</button>
                                <ng-template #updateBlock>
                                    <button (click)="handleForm()" [disabled]="isLoading" class="btn btn-info"
                                        type="button">Update member</button>
                                </ng-template>

                                <button (click)="resetform()" [disabled]="isLoading" class="btn btn-link text-muted"
                                    type="button">Clear</button>
                            </div>
                            <div class="col-sm-4" *ngIf="isLoading">
                                <div class="clearfix">
                                    <div class="spinner-border spinner-border-sm float-right" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <app-roles></app-roles>
        </div>
        <div class="col-xl-9 col-sm-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-9">Members list</div>
                        <div class="col-sm-3 text-right">
                            <button class="btn btn-primary btn-sm" type="button">New member</button>
                        </div>
                    </div>
                    
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover  table-borderless">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Email</td>
                                    <td>Company</td>
                                    <td>Role</td>
                                    <td style="width: 100px;" class="text-right">Salary</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let member of members">
                                    <td>
                                        <div *ngIf="member.isActive; else inactiveBlock"
                                            class="spinner-grow spinner-grow-sm text-success mr-1" role="status"></div>
                                        <ng-template #inactiveBlock>
                                            <i class="fa fa-circle text-muted mr-1"></i>
                                        </ng-template>
                                        {{ member.name }} <br>
                                        <span class="text-muted small">ID: {{ member.id }}</span>
                                    </td>
                                    <td>{{ member.email }}</td>
                                    <td>{{ member.company }}</td>
                                    <td>{{ member.role }}</td>
                                    <td class="text-right" >
                                        <div class="text-right" *ngIf="editMode && editingSalaryId == member.id; else elseBlock">
                                            <price-input (salaryChange)='updateSalary($event)'
                                                (editChange)='toggleUpdateSalary($event)' [editingsalary]="member.salary">
                                            </price-input>
                                        </div>
                                        <ng-template #elseBlock>
                                            <a href="javascript:void(0);" 
                                                (click)="toggleUpdateSalary(true, member.id)">
                                                $ {{ member.salary | formatCurrency }}
                                            </a>
                                        </ng-template>
                                    </td>
                                    <td class="d-flex">
                                        <button type="button" (click)="getMember(member)"
                                            class="btn btn-link btn-sm text-success">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" (click)="deleteMember(member)"
                                            class="btn btn-link btn-sm text-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>